Package: libasan6
Source: gcc-11
Version: 11.2.0-2
Architecture: i386
Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
Installed-Size: 7548
Depends: gcc-11-base (= 11.2.0-2), libc6 (>= 2.28), libgcc-s1 (>= 3.3)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://gcc.gnu.org/
Description: AddressSanitizer -- a fast memory error detector
 AddressSanitizer (ASan) is a fast memory error detector.  It finds
 use-after-free and {heap,stack,global}-buffer overflow bugs in C/C++ programs.
