Package: libatomic1
Source: gcc-11
Version: 11.2.0-2
Architecture: arm64
Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
Installed-Size: 48
Depends: gcc-11-base (= 11.2.0-2), libc6 (>= 2.17)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://gcc.gnu.org/
Description: support library providing __atomic built-in functions
 library providing __atomic built-in functions. When an atomic call cannot
 be turned into lock-free instructions, GCC will make calls into this library.
