Package: libubsan1
Source: gcc-11
Version: 11.2.0-2
Architecture: i386
Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
Installed-Size: 2555
Depends: gcc-11-base (= 11.2.0-2), libc6 (>= 2.28), libgcc-s1 (>= 3.3), libstdc++6 (>= 4.1.1)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://gcc.gnu.org/
Description: UBSan -- undefined behaviour sanitizer (runtime)
 UndefinedBehaviorSanitizer can be enabled via -fsanitize=undefined.
 Various computations will be instrumented to detect undefined behavior
 at runtime. Available for C and C++.
